@using RRshop.ViewModels;
@model RegisterViewModel;
@{
    ViewBag.Title = "Регистрация";
}
<section class="h-10 h-custom">
    <div class="row d-flex justify-content-center align-items-center h-10">
        <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3 bg-light">
                <img src="https://cdn.decrypt.co/wp-content/uploads/2022/11/nike-cryptokicks-alt-gID_6.png"
                     class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                     alt="Sample photo">
                <div class="card-body p-4 p-md-5">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Регистрация</h3>

                    <form class="px-md-2" method="post" asp-antiforgery="true" asp-action="Register" asp-controller="Account">
                        <div class="validation" asp-validation-summary="All"></div>

                        <div class="form-outline mb-4">
                            <span class="text-danger" asp-validation-for="Name"></span>
                            <input type="text" id="form3Example1q" class="form-control" asp-for="Name" />
                            <label class="form-label" asp-for="Name">Имя</label>
                        </div>
                        <div class="form-outline mb-4">
                            <span class="text-danger" asp-validation-for="Phone"></span>
                            <input type="text" id="form3Example1q" class="form-control" asp-for="Phone" />
                            <label class="form-label" asp-for="Phone">Номер телефона</label>
                        </div>
                        <div class="form-outline mb-4">
                            <span class="text-danger" asp-validation-for="City"></span>
                            <input type="text" id="form3Example1q" class="form-control" asp-for="City" />
                            <label class="form-label" asp-for="City">Город</label>
                        </div>
                        <div class="form-outline mb-4">
                            <span calss="text-danger" asp-validation-for="Password"></span>
                            <input type="text" id="form3Example1q" class="form-control" asp-for="Password" />
                            <label class="form-label" asp-for="Password">Пароль</label>
                        </div>
                        <div class="form-outline mb-4">
                            <span calss="text-danger" asp-validation-for="PasswordConfirm"></span>
                            <input type="text" id="form3Example1q" class="form-control" asp-for="PasswordConfirm" />
                            <label class="form-label" asp-for="PasswordConfirm">Повторите пароль</label>
                        </div>

                        <button asp-action="Register" type="submit" class="btn btn-success btn-lg mb-1">Зарегистрироваться</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>