@model RRshop.ViewModels.EditProdViewModel;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Prod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Категория</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryTitle"></select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-check">
                <label asp-for="IsDefaultImage" class="form-check-label"></label>
                <input type="checkbox" asp-for="IsDefaultImage" class="form-check-input" />
                <span asp-validation-for="IsDefaultImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleQuantity" class="control-label"></label>
                <input asp-for="SaleQuantity" class="form-control" />
                <span asp-validation-for="SaleQuantity" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-5">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
